[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Toggle LPM
Exec=/bin/sh /home/user/.local/share/data/toggle-lpm/toggle-lpm.sh
Icon=/home/user/.local/share/icons/hicolor/apps/toggle-lpm-on.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
