Source: toggle-lpm
Section: x11
Priority: extra
Maintainer: thedead1440 <talk.maemo.org/member.php?u=57509>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.0

Package: toggle-lpm
Architecture: all
Description: Toggle LPM
 Toggle Standby Screen On/Off
XB-Maemo-Flags: visible
XB-Maemo-Display-Name: toggle-lpm
