Package: toggle-lpm
Version: 1.1.1
Architecture: all
Maintainer: thedead1440 <talk.maemo.org/member.php?u=57509>
Installed-Size: 80
Section: x11
Priority: extra
Description: Toggle LPM
 Toggle Standby Screen On/Off
Maemo-Display-Name: toggle-lpm
Maemo-Flags: visible
